.originalSummons {
    height: 500px;
    padding-top: 50px;
    padding-left: 85px;
    float: left;
}

.historyHeadingSize{
    font-size: 20px;
}

.scottishConnectionImage {
    height: 400px;
    margin-top: 115px;
    width: 600px;
    float: left;
}